@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");

.comingsoon{
    &-s1{
        background-position-x: center!important;
    }
}
.error{
    &-s1{
        background-position-x: 25%!important;
    }
}
.privacy{
    &-s1{
        background-position-x: center!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}